<% provide(:title, 'ログイン') %>
<body>
<div class="outer">
  <div class="inner">
    <h1>ImageShare</h1>
      <div>
        <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
          <p><%= f.label :email %></p>	
          <p><%= f.email_field :email %></p>	
          <p><%= f.label :password %></p>
          <p><%= f.password_field :password %></p>
          <p><%= f.submit "ログイン" %></p>
        <% end %>	
      </div>
    <button><%=link_to "新しいアカウント作成", new_user_path %></button>
  </div>
</div>
</body>