<% provide(:title, '新規登録') %>
<body>
  <h1>新規登録</h1>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>
  <p><%= f.label :ニックネーム %></p>
  <p><%= f.text_field :nickname %></p>
  <p><%= f.label :Ｅメール %></p>
  <p><%= f.email_field :email %></p>
  <p><%= f.label :パスワード %></p>
  <p><%= f.password_field :password %></p>
  <p><%= f.label :'パスワード: 確認' %></p>
  <p><%= f.password_field :password_confirmation %></p>
  <p><%= f.submit "アカウントの作成する" %></p>
  <% end %>
  <button><%= link_to "ログイン画面に戻る", sessions_path %></button>
</body>

