<body>
  <h3>投稿を更新する</h3>
  <%= form_with(model: @picture, url: confirm_new_or_edit, local: true) do |form| %>
    <% if @picture.errors.any? %>
      <div id="error_explanation">
          <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
          <p><%= form.label :content %></p>
          <p><%= form.text_area  :content , size: "40-20" %></p>
          <p><%= form.label :image %></p>
          <p><%= form.file_field :image %></p>
          <p><%= form.hidden_field :image_cache %></p>
      <p><%= form.submit "更新する" %><p>
  <% end %>
  <p><button><%= link_to "戻る", pictures_path %></button><p>
</body>
